body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9b4667;
    color: #333;
}

header {
    background-color: #0a3c8c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}
img {
    border-radius:30%;
    width:125px;
    height:125px;
    margin-top:1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Styling for Contact Form */
form {
    display: grid;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}